<h1 class="bg-info text-white p-3">filter pipe</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12  mt-3 ">
      <input type="text" placeholder="find" [(ngModel)]="search" class="form-control">
    </div>
    <div class="col-md-12 mt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>sr no</th>
            <th>full name</th>
            <th>team</th>
            <th>odi runs</th>
            <th>test runs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of playersArray | filter: search ; index as i">
            <td>{{i+1}}</td>
            <td>{{s.name}}</td>
            <td>{{s.team }}</td>
            <td>{{s.test_runs}}</td>
            <td>{{s.odi_runs}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>